<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Jorge a day!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #0d0d0d;
            color: #f5f5f5;
            font-family: 'Inter', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            width: 100%;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            padding: 20px;
        }

        .container a {
            color: pink;
        }

        .container a:visited {
            color: blue;
        }

        header {
            padding: 2rem 0 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
        }

        .gallery {
            padding: 1rem;
            width: 30%;
            max-width: 1200px;
            box-sizing: border-box;
        }

        .gallery a {
            display: block;
            border-radius: 12px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .gallery a:hover {
            transform: scale(1.03);
        }

        .gallery img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    </style>
</head>


<body>
    <header>About this site</header>

    <main class="container">
        <p>
            This site was created to make sharing pictures of my cat easier. It is built with Rust using
            <a href="https://actix.rs/">Actix-web</a> and
            <a href="https://askama.readthedocs.io/en/stable/">Askama</a>, both phenomenal frameworks!
            You can find the source code for this site
            <a href="https://github.com/zwsyscall/jorge-a-day.fi">here</a>.
        </p>
        <p>
            My cat, Jorge, was named after the late Pope Francis. While I am not religious, I have always admired
            Pope Francis, and I thought it fitting to name my cat after him since he was born around the same time
            and, like the Pope, wears all white.
        </p>
        <p>
            Currently, this site hosts {{ image_count }} images of my cat, Jorge.
        </p>
    </main>
    <main class="gallery">
        <a href="{{ random_image }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ random_image }}?compress" alt="It's today's Jorge picture!">
        </a>
    </main>

</body>

</html>